doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="color-scheme", content="dark light")
        title Protokolibri - Redirecting...
    style.
        :root {
           font-family: sans-serif;
        }

        .container {
            width: 90%;
            max-width: 70ch;
            margin-inline: auto;
            margin-block: 2rem;
        }
    body
        .container
            h1 Protokolibri Device Connection Service
            p
                b You should be redirected to the Protokolibri Browser Extension...
            p
                i You don't get redirected? Please check if you have installed and activated it in the settings app